{% extends "mybase.html" %}
{% block title %}New{% endblock %}


{% block page_content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
.img-zone{
    height: 300px; /*can be anything*/
    position: relative;
    background-color: rgba(116, 116, 116, 0.1);
}
img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
</style>

<section class="compare text-center">
    <h2>人臉比對辨識</h2>
    <h3>*圖片檔案無法上傳大於2MB*</h3>
    <div class="container mt-5 backgroundGray">
        <div class="col-md-6 d-flex flex-column">
            <div class="uploadPreview" id="faceRectDiv"></div>
            <div class="divFilePreview fileA" id="img1Preview" onclick="uploadImgA()"></div>
            <div class="img-zone">  
                <img id="blsh1" src="{{ basea }}" height="300" alt="一張圖片">
            </div>
            <div class="divBtn">
                <label class="btn btn-primary px-5 my-4">
                    上傳圖片<input class="" hidden id="img1" type="file" accept="image/*">
                </label>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="uploadPreview" id="faceRectDiv2"></div>
            <div class="divFilePreview fileA" id="img2Preview" onclick="uploadImgA()"></div>
            <div class="img-zone">  
                <img id="blsh2" src="{{ baseb }}" height="300"  alt="一張圖片">
            </div>
            <div class="divBtn">
                <label class="btn btn-primary px-5 my-4">
                    上傳圖片<input class="" hidden id="img2" type="file" accept="image/*">
                </label>
            </div>
        </div>
        <div id="processing" class="loader" style="display: none;"></div>
    </div>
    <button type="button" class="p-2 btn btn-success flex-row px-5"
        style="font-size:20px;background-color: #00c3ab;" onclick="lets_recognition()">開始辨識</button>
</section>


<style>
    h1 {
        front-size: 10px;
    }
</style>
<script>
    var filesizeLimit = 2 * 1024 * 1024

        <!-- var filesizeLimit = 1024-->
        function readURL(input) {
            if (input.files && input.files[0]) {
                if (filesizeLimit <= input.files[0].size) {
                    alert("圖片檔案無法上傳大於2MB");
                }
                else{
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blsh1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }
        }


    $("#img1").change(function () {
        readURL(this);
    });

    function readURL2(input) {
        if (input.files && input.files[0]) {
            if (filesizeLimit <= input.files[0].size) {
                    alert("圖片檔案無法上傳大於2MB");
            }
            else{
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blsh2').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    }
    $("#img2").change(function () {
        readURL2(this);
    });

    function lets_recognition() {
        var XHR = new XMLHttpRequest();
        imgs = {};
        var aimg = document.getElementById("blsh1");
        var bimg = document.getElementById("blsh2");
        var aimgsrc = aimg.getAttribute("src");
        var bimgsrc = bimg.getAttribute("src");
        var process = document.getElementById("processing");
        imgs["a"] = aimgsrc
        imgs["b"] = bimgsrc
        var pay_load = {
            "imgs": imgs
        };

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var state = jsonResponse["state"]
                aimg.setAttribute("src", jsonResponse["basea"]);
                bimg.setAttribute("src", jsonResponse["baseb"]);
                process.setAttribute("style", "display:none;");
                var ans = jsonResponse["ans"]
                switch (state) {
                    case 3:
                        if (ans) {
                            alert("這是同一個人");
                        } else {
                            alert("這是不同的人");
                        }
                        break;
                    case 1:
                        alert("A圖片中找不到人臉");
                        break;
                    case 2:
                        alert("B圖片中找不到人臉");
                        break;
                    case 0:
                        alert("A,B圖片中找不到人臉");
                        break;
                    default:
                        alert('something error');
                        break;
                }
            }

        }
        // 配置请求
        XHR.open('POST', 'face_recognition', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));

    }
</script>




{% endblock %}