{% extends "mybase.html" %}
{% block title %}{% endblock %}
{% block page_content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
.img-zone-large{
    height: 500px; /*can be anything*/
    position: relative;
    background-color: rgba(116, 116, 116, 0.1);
}
.img-zone{
    height: 250px; /*can be anything*/
    position: relative;
    background-color: rgba(116, 116, 116, 0.1);
}
img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.answer{
    padding:5px 5px 5px 5px;
}
.my_select{
    width:250px;
}
.bt_font{
    font-size:14px;
}
</style>
<script>
    $( document ).ready(function() {
        // 在這撰寫javascript程式碼
        refresh_select();

    });
    function refresh_select() {
        var XHR = new XMLHttpRequest();

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
<!--                document.getElementById("db_files").disabled=false;-->
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var files = jsonResponse["files"]
                // empty select first

                $("#db_files").find("option:selected").text("");
                $("#db_files").empty();

                for (var i=0; i<files.length; ++i) {
                    // add item in select
                    console.log(files[i]);
<!--                    $("#db_files").append("<option value=i>files[i]</option>");-->
                    $("#db_files").append(`<option value=${i}>${files[i]}</option>`);
                }


            }
            else{
<!--                document.getElementById("db_files").disabled=true;-->
            }
        }

        XHR.open('GET', 'refresh_select', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify());

    }

</script>
<!--// modal, IPC show style1 -->
<div class="modal fade" id="myModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p></p>
<!--          <p><video id="video" src="http://192.168.68.211:8080" autoplay="autoplay" width="480" height="240"></video></p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--// modal, IPC show style2 -->
<div class="modal fade" id="myModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p><img id="ipcShow2" src="{{ basea }}" width="400" height="400" alt="一張圖片"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!--main body-->
<div class="container mt-1 backgroundGray">
    <div class="row align-items-center">
        <div class="col-5 ">
            <div class="px-5 py-4 text-center">
                <p Align="Left" style="font-size:18px;">上傳圖片至後端資料庫</p>
                <div class="d-flex flex-row">
                    <p style="font-size:12px;">請輸入檔名：</p>
                    <textarea class="mb-3" id="testarea_upimgfile" rows="1"></textarea>
                </div>
                <div class="d-flex flex-row">
                    <p style="font-size:12px;">選擇群組 ：</p>
                    <select id="vip_group" class="ml-3" size="1">
                        <option>VIP</option>
                        <option>VVIP</option>
                        <option>黑名單</option>
                    </select>
                </div>
                <div class="mt-3 d-flex flex-row">
                    <label id="bt1" class="btn btn-primary bt_font">
                            選擇圖片<input class="" hidden id="uploadimg1" type="file" accept="image/*">
                    </label>
                    <button class="btn btn-primary ml-3 bt_font" onclick="upload_img1()">上傳圖片</button>
                </div>
            </div>
            <hr>
            <div class="px-5 pb-5 ">
                <textarea class="form-control mb-3" id="textarea_getipc1" rows="2">rtsp://admin:admin@192.168.101.150/Media/stream2</textarea>
                <div class="btn btn-primary bt_font" data-toggle="modal" data-target="#myModalLong" id="bt_showcamera1" >
                        開啟攝影機
                </div>
<!--                <div class="btn btn-primary ml-3 bt_font" data-toggle="modal" data-target="#myModalLong2" id="showIpc_way2">開啟攝影機way2</div>-->
                <div class="btn btn-primary ml-3 bt_font" id="showIpc_way2">開啟攝影機way2</div>
            </div>
        </div>
        <div class="col-7">
            <div class="img-zone">
                <img id="blsh1" src="{{ basea }}" height="200"  alt="一張圖片">
            </div>
        </div>
    </div>
    <hr>
    <div class="row align-items-center text-center">
        <div class="col-5 ">
            <p style="font-size:18px; ">顯示資料庫圖片</p>
            <select class="my_select" id="db_files" style="width:80%" multiple size="10">
                <option>VIP</option>
            </select>
        </div>
        <div class="col-7">
            <div class="img-zone">
                <img id="blsh2" src="{{ baseb }}" height="200"  alt="一張圖片">
            </div>
        </div>
    </div>
    <hr>

    <div class="row align-items-center">
        <div class="col-4 ">
            <div class="px-5 py-4">
                <p style="font-size:18px;">開始比對</p>
                <div class="mt-3 d-flex flex-row">
                    <label class="btn btn-primary bt_font">
                            選擇圖片<input class="" hidden id="uploadimg2" type="file" accept="image/*">
                    </label>
                    <button class="btn btn-primary ml-3 bt_font" id="bt_up3" onclick="upload_img2()">上傳圖片</button>
                </div>
            </div>
            <div class="px-5 pb-5 ">
                <textarea class="form-control mb-3" id="textarea_getipc2" rows="3" ></textarea>
                <div class="btn btn-primary bt_font" id="show_camera2">
                        開啟攝影機
                </div>
            </div>
        </div>
        <div class="col-8 ">
            <div class="img-zone-large">
                <img id="blsh3" src="{{ baseb }}" height="450"  alt="一張圖片">
            </div>
        </div>

    </div>

</div>

<script>
    var filesizeLimit = 2 * 1024 * 1024
    var myVar;
    $("#bt_showcamera1").click(function(){
        ip = $("#textarea_getipc1").val();
        $("#ModalLongTextshow").text(ip);
<!--        $('#ipcShow2').attr('src', e.target.result);-->
    });

    <!-- var filesizeLimit = 1024-->
    function readURL(input) {
        if (input.files && input.files[0]) {
            if (filesizeLimit <= input.files[0].size) {
                alert("圖片檔案無法上傳大於2MB");
            }
            else{
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blsh1').attr('src', e.target.result);
                }
                var filename = input.files[0].name.split(".",1)[0]
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    }

    $("#uploadimg1").change(function () {
        readURL(this);
    });



    function readURL2(input) {
        if (input.files && input.files[0]) {
            if (filesizeLimit <= input.files[0].size) {
                alert("圖片檔案無法上傳大於2MB");
            }
            else{
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blsh3').attr('src', e.target.result);
                }
                var filename = input.files[0].name.split(".",1)[0]
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    }


    $("#show_camera2").click(function () {
        $('#showIpc_way2').attr('disabled', "disabled");
        ip = $("#textarea_getipc2").val();
        var XHR = new XMLHttpRequest();
        var pay_load = {
            "ip": ip
        };

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var ret = jsonResponse["ret"]
                var base = jsonResponse["base"]
                $('#show_camera2').attr('disabled', false);
                if (ret){
                    $('#blsh3').attr('src', base);
                }
                else{alert("無法取得攝影機影像！");}
            }
        }


        // 配置请求
        XHR.open('POST', 'show_ipc', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));
    });


    $("#showIpc_way2").click(function () {
        $('#showIpc_way2').attr('disabled', "disabled");
        ip = $("#textarea_getipc1").val();
        var XHR = new XMLHttpRequest();
        var pay_load = {
            "ip": ip
        };

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var ret = jsonResponse["ret"]
                var base = jsonResponse["base"]
                $('#showIpc_way2').attr('disabled', false);
                if (ret){
                    $('#blsh1').attr('src', base);
                }
                else{alert("無法取得攝影機影像！");}
            }
<!--            document.getElementById("db_files").disabled=true;-->
        }


        // 配置请求
        XHR.open('POST', 'show_ipc', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));




    });
    $("#uploadimg2").change(function () {
        readURL2(this);
    });

    // upload image to server
    function upload_img1() {
        var XHR = new XMLHttpRequest();
        imgs = {};
        var aimg = document.getElementById("blsh1");
        var aimgsrc = aimg.getAttribute("src");
        var process = document.getElementById("processing");
        imgs["a"] = aimgsrc
        var vip = $("#vip_group option:selected").text();
        var filename =$("#testarea_upimgfile").val();
        filename = filename + "_" + vip
        imgs["filename"] = filename
        var pay_load = {
            "imgs": imgs
        };

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                document.getElementById("bt1").disabled=false;
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var state = jsonResponse["state"]
                switch (state) {
                    case 1:
                        alert("儲存圖片成功！");
                        aimg.setAttribute("src", jsonResponse["base"]);
                        refresh_select()
                        break;
                    case 2:
                        alert("圖片中超過一個人臉！不儲存圖片！");
                        aimg.setAttribute("src", jsonResponse["base"]);
                        break;
                    case 0:
                        alert("圖片中找不到人臉！不儲存圖片！");
                        break;
                    default:
                        alert('something error');
                        break;
                }
            }
            else{
                document.getElementById("bt1").disabled=true;
            }

        }
        // 配置请求
        XHR.open('POST', 'upload_img', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));
    }



    function upload_img2() {
        var XHR = new XMLHttpRequest();
        imgs = {};
        var aimg = document.getElementById("blsh3");
        var aimgsrc = aimg.getAttribute("src");
        var process = document.getElementById("processing");
        imgs["a"] = aimgsrc
        var pay_load = {
            "imgs": imgs
        };


        ////////////////////////////////////////////////////////////////////////////
        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                document.getElementById("bt_up3").disabled=false;
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var state = jsonResponse["state"]
                switch (state) {
                    case 1:
                        alert("辨識完成！");
                        aimg.setAttribute("src", jsonResponse["base"]);
                        break;
                    case 0:
                        alert("圖片中找不到人臉！");

                        break;
                    default:
                        alert('something error');
                        break;
                }
            }
            else{
                document.getElementById("bt_up3").disabled=true;
            }
        }
        // 配置请求
        XHR.open('POST', 'recognition_allface', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));
    }




    function refresh_select() {
        var XHR = new XMLHttpRequest();

        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
<!--                document.getElementById("db_files").disabled=false;-->
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var files = jsonResponse["files"]
                // empty select first

                $("#db_files").find("option:selected").text("");
                $("#db_files").empty();

                for (var i=0; i<files.length; ++i) {
                    // add item in select
<!--                    console.log(files[i]);-->
                    $("#db_files").append(`<option value=${i}>${files[i]}</option>`);
                }


            }
            else{
<!--                document.getElementById("db_files").disabled=true;-->
            }
        }

        XHR.open('GET', 'refresh_select', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify());

    }


    function show_selectimg() {
        var XHR = new XMLHttpRequest();
        var filename = $("#db_files").find("option:selected").text();
        var pay_load = {
            "filename": filename
        };


        XHR.onreadystatechange = function () {
            if (XHR.readyState == XMLHttpRequest.DONE) {
                var data = XHR.responseText;
                var jsonResponse = JSON.parse(data);
                var base = jsonResponse["base"]

                var aimg = document.getElementById("blsh2");
                aimg.setAttribute("src", base);
            }
        }
        // 配置请求
        XHR.open('POST', 'show_img', true);
        // HTTP头
        XHR.setRequestHeader('content-type', 'application/json'); //先open再设置请求头
        // 发送请求
        XHR.send(JSON.stringify(pay_load));


    }
    $("#db_files").change(function () {
        show_selectimg(this);
    });
</script>

{% endblock %}